{% extends "base.html" %}

{% block msg %}
  {% if messages %}
  {% for message in messages %}
   <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
   </div>
  {% endfor %}
  {% endif %}
{% endblock msg %}

{% block content %}

<div class="container">
<a class="btn btn-warning" href="{% url 'addtopic' %}" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-plus" aria-hidden="true">
      </i> Add Topic</a>
<hr>
<div class="card shadow p-3 mb-5 bg-white rounded">
  <h5 class="card-header text-center alert-info">Enrolled Subject List</h5>
  <div class="card-body">
  {% if subjects %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Course</th>
      <th scope="col">created Date</th>
    </tr>
  </thead>
  <tbody>
  {% csrf_token %}
  {% for sub in subjects %}
    <tr>

      <th scope="row">{{sub.id}}</th>
      <td><a href="{% url 'topic' sub.id %}" >{{sub.subject_name|upper}}</a></td>
      <td>{{sub.course_id}}</td>
      <td>{{sub.created_date}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
   <div class="alert alert-primary text-center" role="alert">
  <p>No Record found in the database</p>
</div>
{% endif %}

  </div>
</div>
</div>
{% endblock content %}
